
@import url('css/fonts/khmersent.css');

@import url('font-awesome.css');


.header-standard #navigation > ul > li > a{
    font-family: 'KhmerOSsys', 'OpenSans', sans-serif;
}
.slider-img{
    font-family: 'KhmerOSsys', 'OpenSans', sans-serif;

}
.header-standard #navigation > ul > li > a{
    font-family: 'KhmerOSsys', 'OpenSans', sans-serif;
}